*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Carousel */


/* General Container */



/* Header Section */



.shop-button {
  background-color: #ffc107;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px
}

 

.feature-products{
  margin: 20px;
  box-shadow: 0 2px 8px rba(0,0,0,0.1);
     
    
}


 

 .abouteimg{
  justify-content: space-around;
 }

 


.key{
  cursor: pointer;
}
.about-section{
  margin-top: 20px;
  margin-left: 10px;
  width: 1100px;
  height: 100px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: rgb(18, 60, 85);
    color: white;
}
 
 

section {
  
  background-color: #fffdfd;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.mobileimges{
 margin-left: 50px;
 gap: 0px;
}
.tittle-card{
  margin-top: 100px;
}
.tidel{
    color: rgb(95, 107, 124);
}