
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.potato-car {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}

.overlay {
  background: rgba(0, 79, 140, 0); /* blue transparent overlay */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box {
  background-color: rgba(0, 42, 56, 0.466); /* transparent letter box */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  max-width: 85%;
}

.content-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.content-box p {
  font-size: 14px;
  line-height: 1.5;
}

.footer {
  margin-top: 15px;
  font-size: 12px;
  color: #136b08ee;
}