body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.signup-form h2 {
  text-align: center;
  margin-bottom:90px;
}